<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nombre">Subir Imagen</h3>

      </div>
          <form>
          <table  style="text-align:center;">
          <tr>
              <td>
                  <div class="fadeIn first">
                      <img src="https://ksatravel.net//assets/img/admin.png" id="icon" alt="User Icon" />
                  </div>
                  <input type="file" id="cargar_foto"  name="login" value="Seleccionar Foto" placeholder="Seleccionar Foto">
                  
              </td>
            <!--</tr>  
            <tr>-->
                <td>
                    <h2>Nombre de la imagen</h2>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de la imagen">
                    <h2>Album</h2>
                    <select >
                        <option>Album 1</option>
                    </select>
                    <input type="submit" class="fadeIn fourth" value="Subir">
                
                </td>
           
            </tr>  
          </table>    
          
      </form>
    </div>
  </div>
