<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nombre">Subir Imagen</h3>

      </div>
          <form>
          <table  style="text-align:center;" >
          <tr>
            <td>
              <div class="container">
                
              </div>
              <div class="wrappers" >
                <div class="wrapper fadeInDown">
                    <div id="formContent">
                      <div id="div_imagen">
                        <img src="{{foto_cargada}}" #imagen id="imagen" alt="User Icon"  width="300" height="300" />
                      </div>
                      
                    </div>
                </div>
              </div> 
                    
            </td>
           
            <!--</tr>  
            <tr>-->
                <td>
                    <h2>Nombre de la imagen</h2>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de la imagen">
                    <h2>Album</h2>
                    <select >
                        <option>Album 1</option>
                    </select>
                
                </td>
            </tr>
            <tr>
              <td>
                <input type="button" value="Agregar Imagen" (click) = "agregar_imagen()"> 
              </td>
              <td>
                <input type="submit" class="fadeIn fourth" value="Subir">
              </td>
            </tr>  
          </table>    
          
      </form>
    </div>
  </div>

  