<div class="wrapper fadeInDown">
    <div id="formContent">
      <h1>Registrar Usuario</h1>
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name">
        <input type="password" id="login" class="fadeIn second" name="login" placeholder="Passowrd">
        <input type="password" id="login" class="fadeIn second" name="login" placeholder="Confirm Passowrd">
        <input type="file" id="cargar_foto"  name="login" value="Seleccionar Foto" placeholder="Seleccionar Foto">
       
        <input type="submit" class="fadeIn fourth" value="Registrar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Ya tienes una cuenta?</a>
      </div>
    </div>
  </div>
  