<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nombre">Gestion de Album</h3>

      </div>
          <form>
          <table  style="text-align:center;">
          <tr>
              <!--</tr>  
            <tr>-->
                <td>
                    <h2>Nombre del Album</h2>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre del Album">
                    <input type="submit" class="fadeIn fourth" value="Agregar Album">
                <br>
                    <h2>Album</h2><br>
                    <select >
                        <option>Album 1</option>
                    </select>
                    <input type="submit" class="fadeIn fourth" value="Eliminar Album">
                
                </td>
           
            </tr>  
          </table>    
          
      </form>
    </div>
  </div>
