<div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="nombre">Editar perfil</h3>
                
        </div>
            <form>
            <table  style="text-align:center;">
            <tr>
              <td>
                <div class="container">
                  
                </div>
                <div class="wrappers" >
                  <div class="wrapper fadeInDown">
                      <div id="formContent">
                        <div id="div_imagen">
                          <img src="{{foto_perfil}}" #imagen id="imagen" alt="User Icon"  width="300" height="300" />
                        </div>
                        
                      </div>
                  </div>
                </div> 
                      
              </td>
             <td>
                    <input type="text" id="user" class="fadeIn second" name="login" placeholder="{{sesion.user.S}}">
                    <input type="text" id="name" class="fadeIn second" name="login" placeholder="{{sesion.name.S}}">
                    <input type="password" id="password" class="fadeIn second" name="login" placeholder="Confirm Passowrd">
                
                </td>
            </tr>
            <tr>
              <td>
                <input type="button" value="Agregar Imagen" (click) = "agregar_imagen()"> 
              </td>
              <td>
                <input type="submit" class="fadeIn fourth" value="Modificar">
              </td>
            </tr>  
            </table>    
            
        </form>
      </div>
    </div>
  